{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}
{% block main %}
    <form action="/crypto" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Enter a Cryptocurrency" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    </form>


    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>CRYPTO</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ symbol.upper()}}
                    </td>
                    <td>
                        {{ price | usd}}
                    </td>
                    <td>
                        <a href="/buy" >
                            <button class="btn btn-primary" type="submit">Buy</button>
                        </a>
                    </td>
                </tr>
            </tbody>
    </div>
{% endblock %}
