{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block main %}

    {%for count in count%}
        <p>Count: {{count["COUNT(username)"]}} Players Registered</p>
        {% endfor %}
    <p>Cash: {{ cash | usd }}</p>
    <p>Net Worth: {{ netWorth | usd }}</p>
    <div class="container py-5 text-center">
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th>CRYPTO</th>
                    <th>QUANTITY</th>
                    <th>CURRENT PRICE</th>
                    <th>TOTAL VALUE</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in portfolio %}
                <tr>
                    <td>
                        {{ quote["stock"].upper() }}
                    </td>
                    <td>
                        {{ quote["quantity"] }}
                    </td>
                    <td>
                        {{ quote["price"] | usd }}
                    </td>
                    <td>
                        {{ quote['total'] | usd }}
                    </td>
                    <td>
                        <a href="/buy" >
                            <button class="btn btn-primary" type="submit">Buy</button>
                        </a>
                    </td>
                    <td>
                        <a href="/sell" >
                            <button class="btn btn-primary" type="submit">Sell</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
{% endblock %}
