{% extends "layout.html" %}

{% block title %}
    Player Rankings
{% endblock %}

{% block main %}
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>RANKING</th>
                    <th>USERNAME</th>
                    <th>NET WORTH</th>
                </tr>
            </thead>
            <tbody>
            {%for ranking in ranking%}
                <tr>
                    <td> #{{ranking["num_row"]}}</td>
                    <td>
                        {{ ranking["username"] }}
                    </td>
                    <td>
                        {{ ranking["net_worth"] | usd}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
    </div>
{% endblock %}
