{% extends "layout.html" %}

{% block title %}
    Buy Crypto
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Cryptocurrency Symbol" type="text"/>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Quantity" type="number" min="1"/>
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
{% endblock %}
