{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}
{% block main %}

    {% for cash in cash %} <p> Cash: {{ cash["cash"] | usd }} </p> {% endfor %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>CRYTPO</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in portfolio %}
                <tr>
                    <td>
                        {{ stock["stock"].upper() }}
                    </td>
                    <td>
                        {{ stock["quantity"] }}
                    </td>
                    <td>
                        {{ stock["price"] | usd}}
                    </td>
                    <td>
                        {{ stock["BuyorSell"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
{% endblock %}
